.registration{
  width: 640px;
  padding: 50px;
  padding-top: 0;
  margin: auto;
  border: 1px solid gray; 
  margin-top: 100px;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.144);
  color: rgb(47, 47, 47);
}
.registration h2{
  text-align: center;
  font-size: 28px;
}

.row{
  display: flex;
  gap: 1rem;
  padding-bottom: 10px;
  justify-content: center;
}
label{
  font-size: 14px;
  font-weight: 500;
}
input{
 width: 300px;
 height: 23px;
 padding: 5px;
 border-radius: 7px;
 border: 1px solid gray;
 background-color: transparent;
 outline: none;
}
input::placeholder{
  color: rgb(98, 98, 98);
}

input:focus{
  border-color: #000000;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.registration .fullName {
  padding-top: 0.3rem;
}
button{
  padding: 9px 50px;
  border-radius: 7px;
  border:1px solid gray;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(47, 47, 47, 0.912);
  background-color: #d8c3ce;
  margin-top: 20px;
}
button:hover{
  background-color: #daddf17e;
  color: black;
}
.error{
  color:red;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.001);
  padding-left: 10px;
}